<style>
</style>

<script type="text/x-template" id="gui-template"> 
  <v-app id="digest">
    <v-navigation-drawer
      fixed
      :clipped="$vuetify.breakpoint.mdAndUp"
      app
      v-model="drawer"
    >
      <v-list dense>
        <template v-for="(item, i) in items">
          <v-layout
            row
            v-if="item.heading"
            align-center
            :key="i"
          >
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-center">
              <a href="#!" class="body-2 black--text">EDIT</a>
            </v-flex>
          </v-layout>
          <v-list-group
            v-else-if="item.children"
            v-model="item.model"
            :key="item.text"
            :prepend-icon="item.model ? item.icon : item['icon-alt']"
            append-icon=""
          >
            <v-list-tile slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ item.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              v-for="(child, i) in item.children"
              :key="child.text"
              @click=""
              :to="child.link"
              exact
            >
              <v-list-tile-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ child.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
          <v-list-tile v-else @click="" :key="item.text" :to="item.link">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    
    <v-toolbar
      color="blue darken-3"
      dark
      app
      :clipped-left="$vuetify.breakpoint.mdAndUp"
      fixed
      class="mx-1"
    >
      <v-toolbar-title class="ml-1 pl-1">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-xs-and-down">Digest</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click.stop="uploadData" :loading="loading" :disabled="loading">
        <v-badge color="error">
          <span v-if="unloadedCount" slot="badge">{{ unloadedCount }}</span>
          <v-icon>refresh</v-icon>
        </v-badge>
        <span slot="loader" class="custom-loader">
          <v-icon light>cached</v-icon>
        </span>
      </v-btn>
      <v-btn icon to="/review/list">
        <v-badge color="success">
          <span v-if="todoReview" slot="badge">{{ todoReview }}</span>
          <v-icon>rate_review</v-icon>
        </v-badge>
      </v-btn>
      <v-btn icon to="/news/list/todo">
        <v-badge color="success">
          <span v-if="todoCount" slot="badge">{{ todoCount }}</span>
          <v-icon>list</v-icon>
        </v-badge>
      </v-btn>
      <v-btn icon to="/news/list/unread">
        <v-badge color="warning">
          <span v-if="unreadCount" slot="badge">{{ unreadCount }}</span>
          <v-icon>notifications</v-icon>
        </v-badge>
      </v-btn>
      <v-btn icon to="/profile">
        <v-icon v-if="isOnline">person</v-icon>
        <v-icon v-else>person_outline</v-icon>
      </v-btn>
    </v-toolbar>
    
    <v-content>
      <v-container fluid>
        <v-fade-transition mode="out-in">
          <keep-alive>
            <router-view></router-view>
          </keep-alive>
        </v-fade-transition>
      </v-container>
    </v-content>
    
    <v-footer app class="pa-3">
      {{ ui.footer }}
      <v-spacer></v-spacer>
      <div>© {{ new Date().getFullYear() }}</div>
    </v-footer>
  </v-app>
</script>

<script>
  var gui = {
    template: '#gui-template',
    data: () => ({
      loading: false,
      drawer: null,
      items: [
        {
          icon: 'keyboard_arrow_up',
          'icon-alt': 'keyboard_arrow_down',
          text: 'Новости',
          model: true,
//          active: true,
//          inactive: true,
          children: [
            { icon: 'notifications', text: 'Не прочитано', link: '/news/list/unread' },
            { icon: 'inbox', text: 'Не обработано', link: '/news/list/todo' },
            { icon: 'rate_review', text: 'В работе', link: '/review/list' },
            { icon: 'history', text: 'Архив', link: '/news/list/all' }
          ]
        },        
        { icon: 'person', text: 'Профайл', link: '/profile' },
        {
          icon: 'keyboard_arrow_up',
          'icon-alt': 'keyboard_arrow_down',
          text: 'Labels',
//          model: true,
          children: [
            { icon: 'add', text: 'Create label' }
          ]
        },
        { icon: 'settings', text: 'Settings', link: '/config' },
        { icon: 'help', text: 'Help', link: '/help' },

      ]
    }),
    computed: {
      todoCount () {  
        return this.$store.getters.news.length - Object.keys(this.$store.getters.newsComments).length;
        },
      todoReview () {  
        console.log ("todoReview -- called from gui-template", Object.values(this.$store.getters.newsComments));
        return Object.values(this.$store.getters.newsComments).filter((item) => {return item.mode == EDIT_MODE("DOWNLOAD").id}).length;
        },
      ui () {
        return this.$store.getters.ui;
        },
      unreadCount () {
        return Object.keys(this.$store.getters.unreadIndex).length;
        },
      unloadedCount () {
        return this.$store.getters.unloadedCount;
        },
      isOnline () {
        return this.$store.getters.isOnline;
        },
    },
    methods: {
      uploadData: function () {
        this.loading = true;
        this.$store.dispatch('reloadNewsComments')/*;
        this.$store.dispatch('reloadNews');
        this.$store.dispatch("uploadServer")*/
          .then(() => {
             console.log('uploadData done');
             this.loading = false;
           })         
           .catch((error) => {
             this.loading = false;
             console.error('uploadData', error);
           }); ;
        }
    },
    props: {
      source: String
    }
  }
</script>

