<script type="text/x-template" id="news-review-template">
        <v-card v-if="!isNewsReadonly(article)">
          <v-toolbar color="primary" class="mx-1">
            <v-btn v-show="mode==modeEdit.id" @click.native="saveMode(modeUpload)" icon>
              <v-tooltip top>
                <v-icon slot="activator" color="white">{{modeUpload.icon}}</v-icon>
                <span>Отправить на проверку</span>
              </v-tooltip>
            </v-btn>
            <v-btn v-show="mode==modeEdit.id" @click.native="saveMode(modeDelete)" icon>
              <v-tooltip top>
                <v-icon slot="activator" color="white">{{modeDelete.icon}}</v-icon>
                <span>Пометить на удаление</span>
              </v-tooltip>
            </v-btn>
            <v-btn v-show="mode!=modeEdit.id" @click.native="saveMode(modeEdit)" icon>
              <v-tooltip top>
                <v-icon slot="activator" color="white">{{modeEdit.icon}}</v-icon>
                <span>Вернуть в режим редактирования</span>
              </v-tooltip>
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon color="white">more_vert</v-icon>
            </v-btn>
          </v-toolbar>
          <v-container fluid class="px-3">
            <v-layout row wrap>
              <v-flex xs12>
                <star-rating 
                  label="Рейтинг новости" 
                  v-model="rating" 
                  :show-rating="false" 
                  :read-only="readonly" 
                  @rating-selected="saveData"
                ></star-rating>
              </v-flex>
              <v-flex xs12>
                <v-select
                  :items="rubric"
                  v-model="selectedRubrics"
                  label="Укажите рубрики для новости"
                  multiple
                  chips
                  item-text="nm"
                  item-value="id"
                  :readonly="readonly"
                  @change="saveData"
                ></v-select>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  label="Комментарий"
                  :rules="[(v) => v.length <= 1024 || 'Max 1024 characters']"
                  :counter="1024"
                  v-model.trim="comment"
                  multi-line
                  :readonly="readonly"
                  @change="saveData"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
</script>

<script>
console.log ("newsReview started");
var newsReview = {
    template: '#news-review-template', 
    props: ['article'],
    name: 'news-review',
    methods: {
    
      saveMode (mode) {
        console.log("newsReview saveMode", mode);
        this.mode = mode.id;
        this.$store.dispatch('saveNewsComments', this.commentObject);
      },
      
      saveData () {
        this.mode = EDIT_MODE("EDIT").id;
        this.state = EDIT_STATE("EDIT").id;
        console.log("newsReview saveData", this.commentObject);
        this.$store.dispatch('saveNewsComments', this.commentObject);
      },
    },
    computed: {
        
      rubric () {
        return indexedObjectToArray(this.$store.getters.rubric);
        },
        
      readonly () {
        return this.mode!=this.modeEdit.id;
        },
        
       isNewsReadonly (article) {  
         return (article) => {
           return !this.$store.getters.userCanEdit || this.$store.getters.isNewsReadonly(article);
           } 
         },
         
       commentObject () {  
         return {
           id: this.article.id, 
           idc: this.idc, 
           rubrics: this.selectedRubrics, 
           rating: this.rating, 
           comment: this.comment,
           mode: this.mode, 
           state: this.state, 
           date: dateToText()
           }
         } 
    },
    components: {
       StarRating: VueStarRating.default
       },
    data () {
      return {
        selectedRubrics: this.$store.getters.newsComments[this.article.id] ? this.$store.getters.newsComments[this.article.id].rubrics : this.article.rubrics,
        comment: this.$store.getters.newsComments[this.article.id] ? this.$store.getters.newsComments[this.article.id].comment : "",
        rating: this.$store.getters.newsComments[this.article.id] ? this.$store.getters.newsComments[this.article.id].rating : 0,
        mode: this.$store.getters.newsComments[this.article.id] ? this.$store.getters.newsComments[this.article.id].mode : 1,
        state: this.$store.getters.newsComments[this.article.id] ? this.$store.getters.newsComments[this.article.id].state : 0,
        idc: this.$store.getters.newsComments[this.article.id] ? this.$store.getters.newsComments[this.article.id].idc : -1,
        modeDelete: EDIT_MODE("DELETE"),
        modeEdit: EDIT_MODE("EDIT"),
        modeUpload: EDIT_MODE("UPLOAD"),
        stateDelete: EDIT_STATE("EDIT")
      }
    }
};
</script>

