<script type="text/x-template" id="news-review-template">
        <v-card v-if="!isNewsReadonly(article)">
          <v-toolbar color="primary">
            <v-btn @click.native="goBack" icon>
              <v-icon color="white">arrow_back</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon color="white">more_vert</v-icon>
            </v-btn>
          </v-toolbar>
          <v-container v-if="mode == 'edit'" fluid class="px-3">
            <v-layout row wrap>
            <v-flex xs12>
              <star-rating label="Рейтинг новости" v-model="rating" :show-rating="false" :read-only="readonly"></star-rating>
            </v-flex>
            <v-flex xs12>
              <v-select
                :items="rubric"
                v-model="selectedRubrics"
                label="Укажите рубрики для новости"
                multiple
                chips
                autocomplete
                item-text="nm"
                item-value="id"
                :readonly="readonly"
              ></v-select>
            </v-flex>
              <v-flex xs12>
                <v-text-field
                  label="Комментарий"
                  :rules="[(v) => v.length <= 1024 || 'Max 1024 characters']"
                  :counter="1024"
                  v-model="comment"
                  multi-line
                  :readonly="readonly"
                ></v-text-field>
              </v-flex>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
</script>

<script>
console.log ("newsReview started");
var newsView = {
    template: '#news-review-template', 
    props: ['article'],
    name: 'news-review',
    methods: {
      goBack () {
        return this.$router.go(-1)
      },
    },
    computed: {
//      article () {
//        console.log ("newsReview", this.id, this.mode);
//        let article = this.$store.getters.newsById(this.id);
//        if (!article) return {references: [], paragraphs: [], source: [], rubrics: []}
//        return article;
//        },
        
      rubric () {
        console.log ("newsReview rubric", this.article);
        return indexedObjectToArray(this.$store.getters.rubric);
        },
        
      isNewsReadonly (article) {  
       return (article) => {
          return !this.$store.getters.userCanEdit && this.$store.getters.isNewsReadonly(article);
          } 
       },
    },
    components: {
       StarRating: VueStarRating.default
       },
    activated: function () { 
      let edited = this.$store.getters.editedNews[this.article.id];
      console.log("newsReview activated", edited);
      if (edited) {
        this.selectedRubrics = edited.rubrics;
        this.rating = edited.rating;
        this.comment = edited.comment;
        }
      else {
        this.selectedRubrics = this.article.rubrics;
        this.rating = 0;
        this.comment = "";
      }
      },
    deactivated: function () { 
      console.log("newsReview deactivated", this.article.id);
      this.$store.dispatch('saveEditedNews', {
        id: this.article.id, rubrics: this.selectedRubrics, rating: this.rating, comment: this.comment
        });
      },
    data () {
      return {
        selectedRubrics: [],
        comment: "",
        rating: 0,
        readonly: false
      }
    }
};
</script>

