<script type="text/x-template" id="start-page-template"> 
  <div>
    <h1>Home page</h1>
    <hr>
    <p> Это страничка где будет все сначала, скорее всего статистика текущего положения дел</p>    
    <p class="grey lighten-4">
    <span :class="color+'--text'" v-for="color in colorsLight"> {{ color }}</span>
    </p>
    <p class="black">
    <span :class="color+'--text'" v-for="color in colorsDark"> {{ color }}</span>
    </p>
  </div>
</script>

<script>
  var startPage = {
    template: '#start-page-template',
    data () {
      return {
        colorsLight: [ "teal", "green", "light-green", "grey", "blue-grey", "indigo"],
         colorsDark: [ "green", "grey", "orange", "lime", "amber", "deep-orange"]
      }
    }
  };
console.log ("startPage started");
</script>


