<script type="text/x-template" id="user-profile-template"> 
    <v-card>
      <v-container
        fluid
        style="min-height: 0;"
        grid-list-lg
      >
        <v-layout row wrap>
          <v-flex xs12>
            <v-card color="brown lighten-5" class="mb-3">
              <v-card-title primary-title>
                <div class="headline">{{userProfile.name}} ({{userProfile.email}})</div>
              </v-card-title>
              <v-card-text>
                <div>Права доступа: чтение и комментирование</div>
                <div>Последнее обновление: {{lastDate}}</div>
                <div>Непрочитано: {{unreadCount}}</div>
                <div>Необработано: {{todoCount}}</div>
                <div>Незагружено: {{unloadedCount}}</div>
              </v-card-text>
              <v-card-actions>
                <v-btn v-if="isOnline" flat @click.native="logOut">Logout</v-btn>
                <v-btn v-else flat to="/login">Login</v-btn>
                <v-spacer></v-spacer>
                <v-btn icon @click.native="show = !show">
                  <v-icon>{{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
                </v-btn>
              </v-card-actions>
              <v-slide-y-transition>
                <v-card-text v-show="show" multi-line>
                  <v-text-field
                  label="Ключ доступа"
                  v-model="userProfile.key"
                  multi-line
                  rows=3
                  readonly
                  ></v-text-field>
                </v-card-text>
              </v-slide-y-transition>
            </v-card>
          </v-flex>
          <v-flex xs12>
            <v-card color="brown lighten-5" class="mb-3">
              <v-card-title primary-title>
                <div class="headline">Параметры</div>
              </v-card-title>
              <v-card-text>
                <div>Тут будут настройки интерфеса</div>
                  <v-container fluid>
                   <p>{{ config }}</p>
                   <v-switch label="Сделать круто" v-model="config" value="Круто"></v-switch>
                   <v-switch label="Сделать офигенно" v-model="config" value="Офигенно"></v-switch>
                  </v-container>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
</script>

<script>

  var userProfile = {
    template: '#user-profile-template',
    data () {
      return {
        show: false,
        config: []
      }
    },
    computed: {
      userProfile () {
        return this.$store.getters.userProfile;
        },
      lastDate () {
        return this.$store.getters.lastDate.replace("T", " ");
        },
      unreadCount () {
        return Object.keys(this.$store.getters.unreadIndex).length;
        },
      todoCount () {
        return this.$store.getters.todoCount;
        },
      unloadedCount () {
        return this.$store.getters.unloadedCount;
        },
      isOnline () {
        return this.$store.getters.isOnline;
        },
    },
    methods: {
      logOut: function () {
        this.$store.dispatch("logOut");
        },
      }
  };
console.log ("user-profile started");
</script>


