<script type="text/x-template" id="news-view-header-template">
      <span>  
        <div class="py-3">
          <h6 class="title"><span class="primary--text">{{article.title}}</span></h6>
        </div>
      <div class="pl-3">
          <p class="caption">
            <span v-if="unreadIndex[article.id]">
              <v-tooltip top>
                <v-icon slot="activator" :color="unreadTypeClass[unreadIndex[article.id].type].color">fiber_new</v-icon>
                <span>{{unreadTypeClass[unreadIndex[article.id].type].tooltip}}</span>
              </v-tooltip>
            </span> {{article.date}} {{article.time}} (
            <a v-if="source[article.idsource]" class="" target="_blank" v-bind:href="'//'+article.link">
              {{ source[article.idsource].nm }} 
            </a>)
            <star-rating v-if="article.rating" :inline="true" :star-size="20" :read-only="true" :show-rating="false" :rating="article.rating"></star-rating>
          </p>
          <p class="body-1" v-if="article.paragraphs[0]">{{article.paragraphs[0].text}}</p>
        </div>
        <template v-for="idRubric in article.rubrics">
          <span v-if="rubric[idRubric]" class="primary--text caption"  :key=idRubric>
            #{{ rubric[idRubric].nm }}
          </span>
        </template> 
        <template v-for="idTag in article.tags">
          <span v-if="tag[idTag]" :class="colorsTagList[tag[idTag].tp]+'--text caption'"  :key=idTag>
            #{{ tag[idTag].nm }}
          </span>
        </template> 
     </span>
</script>

<script>
console.log ("newsViewHeader started");
var newsViewHeader = {
    template: '#news-view-header-template',
    props: ['article'],
    components: {
       StarRating: VueStarRating.default
       },
    methods: {
    },
    computed: {
      colorsTagList () { return this.$store.getters.colorsTagList; },
      source () { return this.$store.getters.source; },
      tag () { return this.$store.getters.tag; },
      rubric () { return this.$store.getters.rubric; },
      unreadIndex () { return this.$store.getters.unreadIndex; },
      unreadTypeClass () { return  this.$store.getters.ui.unreadType; },  
      }
};
</script>

